In [1]:
import pandas as pd

In [64]:
df = pd.read_csv('Housing.csv')

In [65]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [66]:
df.shape

(545, 13)

In [67]:
df.isnull().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [68]:
df.describe()

,price,area,bedrooms,bathrooms,stories,parking
count,5.450000e+02,545.000000,545.000000,545.000000,545.000000,545.000000
mean,4.766729e+06,5150.541284,2.965138,1.286239,1.805505,0.693578
std,1.870440e+06,2170.141023,0.738064,0.502470,0.867492,0.861586
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000

In [69]:
df.notna().sum()

price               545
area                545
bedrooms            545
bathrooms           545
stories             545
mainroad            545
guestroom           545
basement            545
hotwaterheating     545
airconditioning     545
parking             545
prefarea            545
furnishingstatus    545
dtype: int64

In [70]:
df.drop('prefarea',axis=1,inplace=True)

In [71]:
print(df['mainroad'].unique())
print(df['guestroom'].unique())
print(df['basement'].unique())
print(df['hotwaterheating'].unique())
print(df['airconditioning'].unique())
print(df['furnishingstatus'].unique())

['yes' 'no']
['no' 'yes']
['no' 'yes']
['no' 'yes']
['yes' 'no']
['furnished' 'semi-furnished' 'unfurnished']

In [72]:
df['mainroad'].replace(['yes', 'no'],[1, 0], inplace=True)
df['guestroom'].replace(['yes', 'no'],[1, 0], inplace=True)
df['basement'].replace(['yes', 'no'],[1, 0], inplace=True)
df['hotwaterheating'].replace(['yes', 'no'],[1, 0], inplace=True)
df['airconditioning'].replace(['yes', 'no'],[1, 0], inplace=True)
df['furnishingstatus'].replace(['furnished', 'semi-furnished','unfurnished'],[2, 1,0], inplace=True)

In [73]:
X=df.drop('price',axis=1)

In [74]:
Y=df['price']

In [75]:
X.head()

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,furnishingstatus
0,7420,4,2,3,1,0,0,0,1,2,2
1,8960,4,4,4,1,0,0,0,1,3,2
2,9960,3,2,2,1,0,1,0,0,2,1
3,7500,4,2,2,1,0,1,0,1,3,2
4,7420,4,1,2,1,1,1,0,1,2,2

In [76]:
from sklearn.feature_selection import SelectKBest, chi2

x=X.astype(int)

chife=SelectKBest(chi2,k=6)
xbest=chife.fit_transform(x,Y)

In [77]:
print(xbest)

[[7420    0    0    0    1    2]
 [8960    0    0    0    1    3]
 [9960    0    1    0    0    2]
 ...
 [3620    0    0    0    0    0]
 [2910    0    0    0    0    0]
 [3850    0    0    0    0    0]]

In [78]:
X=df.drop(['price'],axis=1)

In [79]:
X.head()

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,furnishingstatus
0,7420,4,2,3,1,0,0,0,1,2,2
1,8960,4,4,4,1,0,0,0,1,3,2
2,9960,3,2,2,1,0,1,0,0,2,1
3,7500,4,2,2,1,0,1,0,1,3,2
4,7420,4,1,2,1,1,1,0,1,2,2

In [80]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

# Train and evaluate SVM model
svm_model = SVC()
svm_model.fit(X_train, y_train)
svm_predictions = svm_model.predict(X_test)
svm_accuracy = accuracy_score(y_test, svm_predictions)

# Train and evaluate Random Forest model
rf_model = RandomForestClassifier()
rf_model.fit(X_train, y_train)
rf_predictions = rf_model.predict(X_test)
rf_accuracy = accuracy_score(y_test, rf_predictions)

# Train and evaluate Linear Regression model
lr_model = LogisticRegression()
lr_model.fit(X_train, y_train)
lr_predictions = lr_model.predict(X_test)
lr_accuracy = accuracy_score(y_test, lr_predictions)

# Compare accuracies
print("SVM Accuracy:", svm_accuracy)
print("Random Forest Accuracy:", rf_accuracy)
print("Linear Regression Accuracy:", lr_accuracy)

# Select the best model
best_model = max([("SVM", svm_accuracy), ("Random Forest", rf_accuracy), ("Linear Regression", lr_accuracy)], key=lambda x: x[1])

print("Best Model:", best_model[0])

SVM Accuracy: 0.009174311926605505
Random Forest Accuracy: 0.0
Linear Regression Accuracy: 0.009174311926605505
Best Model: SVM

c:\Users\Manas\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [81]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

# Create and train a Logistic Regression model
logistic_reg_model = LogisticRegression()
logistic_reg_model.fit(X_train, y_train)

# Make predictions using the model
logistic_reg_predictions = logistic_reg_model.predict(X_test)

# Evaluate the accuracy of the Logistic Regression model
logistic_reg_accuracy = accuracy_score(y_test, logistic_reg_predictions)

print("Logistic Regression Accuracy:", logistic_reg_accuracy)

Logistic Regression Accuracy: 0.009174311926605505

c:\Users\Manas\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [86]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

# Create and train a Logistic Regression model
logistic_reg_model = LogisticRegression()
logistic_reg_model.fit(X_train, y_train)

# Make predictions using the model
logistic_reg_predictions = logistic_reg_model.predict(X_test)

# Calculate and print different classification metrics
logistic_reg_accuracy = accuracy_score(y_test, logistic_reg_predictions)
#logistic_reg_precision = precision_score(y_test, logistic_reg_predictions)
#logistic_reg_recall = recall_score(y_test, logistic_reg_predictions)
#logistic_reg_f1_score = f1_score(y_test, logistic_reg_predictions)
#logistic_reg_roc_auc = roc_auc_score(y_test, logistic_reg_model.predict_proba(X_test)[:,1])

print("Logistic Regression Accuracy:", logistic_reg_accuracy)
#print("Logistic Regression Precision:", logistic_reg_precision)
#print("Logistic Regression Recall:", logistic_reg_recall)
#print("Logistic Regression F1 Score:", logistic_reg_f1_score)
#print("Logistic Regression ROC AUC:", logistic_reg_roc_auc)

Logistic Regression Accuracy: 0.009174311926605505

c:\Users\Manas\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(